body {
  font-size: 30px;
}

.parent {
  background: red;
  min-height: 100vh;
  padding: 1rem;
  /* width: 200px; */

  position: relative;
}

.parent > div {
  height: 50px;
}
.child1 {
  background: green;
  position: relative;
  /* top: 80px;
  left: 69px; */
}
.child2 {
  background: yellow;
  position: absolute;
  bottom: 30px;
  right: 80px;
}
.child3 {
  background: purple;
  /* position: fixed; */
  position: sticky;
  top: 5px;
}
